body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 31%, rgba(159, 159, 159, 1) 67%, rgba(255, 255, 255, 1) 100%);
    ;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%
}

main {
    color: white;
}

footer {
    background-color: blue;
}

header {
    position: fixed;
    background-color: blue;
}